$mybackground-color: #e6e8f6;
$pallet-color: #ffffff;
$widget-edge: rgba(255, 255, 255, 0.2);
$widget-padding: 15px;
$primary-color: #6149cd;
$myfont-family: 'Open Sans', sans-serif;
$myb-radius: 20px;